.subtitle-setup {
  font-size: 44px;
  color: var(--black);
  margin-bottom: 40px;
}

.container-options-setup {
  text-align: center;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.subcontainer-options-setup {
  margin-top: 20px;
}

.container-wordmaster {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-wordmaster-option {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-wordmaster-option label {
  font-size: 35px;
}

.btn-wordmaster-option {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border: 10px solid var(--black);
}

.btn-wordmaster-option:hover {
  opacity: 0.7;
}
