/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/roboto-v20-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v20-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/roboto-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v20-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/roboto-v20-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v20-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v20-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v20-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/roboto-v20-latin-900.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v20-latin-900.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v20-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v20-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

:root {
  --purple: #9d27b0;
  --black: #000000;
  --yellow: #ffe0b2;
  --red: #e91e63;
  --blue: #3f51b5;
}

body {
  margin: 0;
  font-family: 'Roboto';
  letter-spacing: 0.1em;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

.container {
  height: 700px;
  width: 1000px;
  position: relative;
  margin: 0;
}
